[Unit]
Description=Loki Log Aggregator
Documentation=https://github.com/grafana/loki
After=network.target

[Service]
Type=simple
ExecStart=/usr/local/bin/loki -config.file /etc/loki/loki.yml -querier.split-queries-by-interval {{ loki_split_queries_by_interval }}
Restart=always
RestartSec=10
StandardOutput=journal
StandardError=journal
Environment=SYSTEMD_LOG_LEVEL=debug

[Install]
WantedBy=multi-user.target
